{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Add a new wish
{% endblock %}

{% block body %}
    <div class="form">
        {{ form_start(wishForm) }}

        {{ form_widget(wishForm) }}

        <button>Create</button>

        {{ form_end(wishForm) }}


    </div>
{% endblock %}

